.header{
    width: 500px;
    margin: 0 auto;
}

.header-nav{
    list-style: none;
    display: flex;
    padding: 10px;
    background-color: #2699FB;
    margin-bottom: 20px;
}

a {
    margin-right: 15px;
    color: #fff;
}

a:hover{
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}